@import url(variables.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color-2);
    font-family: "OpenSans-Regular";
}

body {
    background: var(--background-1);
}
header{
    transition:height 0.4s ease-in-out;
    background: red;
    /* height: 420px; */
    margin-bottom: 110%;
}
#navbar {
    transition:height 0.4s ease-in-out, border-radius 0.4s ease-in-out , gap 0.4s ease-in-out;
    width: 100%;
    height: 345px;
    padding: 20px 23px 0px;
    background-image: url(../storage/img/background.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center calc(0% - 100px);
    background-attachment: fixed;
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 33px;
    border-bottom-right-radius: 33px;
    border-bottom-left-radius: 33px;
   
}

.form__search {
    display: flex;
}
.div__icon{
    flex: 1;
    position: relative;
}
.div__icon img{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: -10;
}
.div__icon input{
   width: 100%;
   height: 40px;
   border: none;
   outline: none;
   font-size: 22px;
   background: transparent;
   color: var(--color-1);
   padding-right: 35px;
}

.div__body {
    display: flex;
    justify-content: space-between;
}
.div__title{
    display: flex;
    align-items: flex-end;
    /* background: red; */
    flex: 2;
    overflow: hidden;
    flex-wrap: wrap;
}
.div__title h1{
    /* transition:font-size 0.4s ease-in-out; */
    font-size: 6rem;
    color: var(--color-1);
    letter-spacing: -5px;
}
.div__title span{
    /* transition:font-size 0.4s ease-in-out; */
    font-size: 18px;
    color: var(--color-1);
}
.div__image{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.div__image img{
    /* transition:width 0.4s ease-in-out, height 0.4s ease-in-out; */
    /* background: red; */
    width: 95px;
    height: 95px;
    object-fit: contain;
}
.div__image span{
    font-size: 22px;
    color: var(--color-1);
    text-align: center;
}
.div__footer {
    transition:display 0.4s ease-in-out;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.div__footer span{
    color: var(--color-1);
    font-size: 18px;
}
.div__footer p{
    display: flex;
    flex-direction: column;
}
.div__footer p strong{
    color: var(--color-1);
    font-size: 18px;
}
.form__submit{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.form__submit input{
    width: 100%;
    height: 42px;
    outline: none;
    border: none;
    border-radius: 14px;
    background-color: var(--color-1);
    color: var(--color-2);
    font-size: 16px;
    font-weight: normal;
}
.form__submit input.active{
    background: var(--button-1);
}

/*******************++ Main Section ++******************/

.caja_main {
    /* background: rgb(92, 65, 65); */
    padding: 5px;
    width: 100%;
    height: 140px;
    margin: auto;
}
.primera_seccion {
    /* background: blue; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5%;
}
.Wind {
    background: var(--color-4);
    width: 46%;
    height:45%;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    border-radius: 16px;
}
.Wind img{
    /* background: yellow; */
    width: 15%;
    height: 50%;
    margin: auto;
}
.Speed {
    /* background: green; */
    width: 65%;
    height: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Speed span{
    /* background: skyblue; */
    font-size: 14px;
    font-family: "OpenSans-Regular";
}
.kilometros1 {
    /* background: violet; */
    display: flex;
    justify-content: space-between;
}
.kilometros1 h5{
    /* background: gold; */
    font-size: 16px;
    font-family: "OpenSans-Regular";
}
.kilometros_1 {
    /* background: purple; */
    display: flex;
}
.kilometros_1 img{
    /* background: slateblue; */
    width: 20%;
}
.kilometros_1 p{
    /* background: salmon; */
    font-size: 11px;
    font-family: "OpenSans-Regular";
    display: flex;
    justify-content: center;
    align-items: center;
}

/*************** CAJA NUMERO 2 ****************/

.wind_2 {
    background: var(--color-4);
    width: 46%;
    height:45%;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    border-radius: 16px;
}
.wind_2 img{
    /* background: yellow; */
    width: 15%;
    height: 50%;
    margin: auto;
}
.speed_2 {
    width: 65%;
    height: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.speed_2 span{
    /* background: skyblue; */
    font-size: 14px;
    font-family: "OpenSans-Regular";
}
.kilometros2 {
    /* background: violet; */
    display: flex;
    justify-content: space-between;
}
.kilometros2 h5{
    /* background: gold; */
    font-size: 16px;
    font-family: "OpenSans-Regular";
}
.kilometros_2 {
    /* background: purple; */
    display: flex;
}
.kilometros_2 img{
    /* background: slateblue; */
    width: 90%;
}
.kilometros_2 p{
    font-size: 11px;
    font-family: "OpenSans-Regular";
    display: flex;
    justify-content: center;
    align-items: center;
}

/******************** caja numero 3 ********************/

.wind_3 {
    background: var(--color-4);
    width: 46%;
    height:45%;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    border-radius: 16px;
}
.wind_3 img{
    /* background: yellow; */
    width: 15%;
    height: 50%;
    margin: auto;
}
.speed_3 {
    width: 65%;
    height: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.speed_3 span{
    /* background: skyblue; */
    font-size: 14px;
    font-family: "OpenSans-Regular";
}
.kilometros3 {
   /* background: violet; */
    display: flex;
    justify-content: space-between;
}
.kilometros3 h5{
    /* background: gold; */
    font-size: 16px;
    font-family: "OpenSans-Regular";
}
.kilometros_3 {
    /* background: purple; */
    display: flex;
}
.kilometros_3 img{
    /* background: slateblue; */
    width: 20%;
}
.kilometros_3 p{
    font-size: 11px;
    font-family: "OpenSans-Regular";
    display: flex;
    justify-content: center;
    align-items: center;
}

/*************** CAJA NUMERO 4 ********************/

.wind_4 {
    background: var(--color-4);
    width: 46%;
    height:45%;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    border-radius: 16px;
}
.wind_4 img{
    /* background: yellow; */
    width: 15%;
    height: 50%;
    margin: auto;
}
.speed_4 {
    width: 65%;
    height: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.speed_4 span{
    /* background: skyblue; */
    font-size: 14px;
    font-family: "OpenSans-Regular";
}
.kilometros4 {
    /* background: violet; */
    display: flex;
    justify-content: space-between;
}
.kilometros4 h5{
    /* background: gold; */
    font-size: 16px;
    font-family: "OpenSans-Regular";
}
.kilometros_4 {
    /* background: purple; */
    display: flex;
}
.kilometros_4 img{
    /* background: slateblue; */
    width: 50%;
}
.kilometros_4 p{
    font-size: 11px;
    font-family: "OpenSans-Regular";
    display: flex;
    justify-content: center;
    align-items: center;
}

/* SECTION 2 */

.segunda_seccion {
    background: var(--color-4);
    border-radius: 18px;
    width: 95%;
    margin: auto;
    height: 110%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.div_titulo2 {
    /* background: blue; */
    display: flex;
    gap: 5%;
    
}
.div_titulo2 img{
    /* background: blueviolet; */
}
.div_titulo2 span{
    background: salmon;
    font-family: "OpenSans-Regular";
    align-items: center;
}
.caja_clima {
    background: skyblue;
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
/* CLIMA 1 */
.clima1 {
    background: green;
    width: 12%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.clima1 p{
    background: red;
    font-size: 13px;
}
.clima1 img{
    background: gold;
    width: 50%;
    height: 30%;
}
.clima1 span{
    background: slateblue;
}
/* CLIMA 2 */
.clima2 {
    background: green;
    width: 12%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.clima2 p{
    background: red;
    font-size: 13px;
}
.clima2 img{
    background: gold;
    width: 50%;
    height: 30%;
}
.clima2 span{
    background: slateblue;
}
/* CLIMA 3 */
.clima3 {
    background: green;
    width: 12%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.clima3 p{
    background: red;
    font-size: 13px;
}
.clima3 img{
    background: gold;
    width: 50%;
    height: 30%;
}
.clima3 span{
    background: slateblue;
}
/* CLIMA 4 */
.clima4 {
    background: green;
    width: 12%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.clima4 p{
    background: red;
    font-size: 13px;
}
.clima4 img{
    background: gold;
    width: 50%;
    height: 30%;
}
.clima4 span{
    background: slateblue;
}
/* CLIMA 5 */
.clima5 {
    background: green;
    width: 12%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.clima5 p{
    background: red;
    font-size: 13px;
}
.clima5 img{
    background: gold;
    width: 50%;
    height: 30%;
}
.clima5 span{
    background: slateblue;
}
/* CLIMA 6 */
.clima6 {
    background: green;
    width: 12%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.clima6 p{
    background: red;
    font-size: 13px;
}
.clima6 img{
    background: gold;
    width: 50%;
    height: 30%;
}
.clima6 span{
    background: slateblue;
}
